doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    h1 Sesh-finder
    a(href="/") All
    |  |  
    a(href="/retreats/new") New
    block content
