extends layout

block content
  form(action='/retreats' method="POST")
    p
      label Name
      br
      input(name="name" autofocus='true')
    p
      label Meditation Center
      br
      input(name="center")
    p
      label Tradition
      br
      input(name="tradition")
    p
      label Teacher(s)
      br
      input(name="teacher")
    p
      label Starts On
      br
      select(name='startsOnMonth')
        option(value="")  - Month - 
        option(value='January') January
        option(value='Febuary') Febuary
        option(value='March') March
        option(value='April') April
        option(value='May') May
        option(value='June') June
        option(value='July') July
        option(value='August') August
        option(value='September') September
        option(value='October') October
        option(value='November') November
        option(value='December') December
      select(name='startsOnDay')
        option(value="")  - Day - 
        option(value='1') 1
        option(value='2') 2
        option(value='3') 3
        option(value='4') 4
        option(value='5') 5
        option(value='6') 6
        option(value='7') 7
        option(value='8') 8
        option(value='9') 9
        option(value='10') 10
        option(value='11') 11
        option(value='12') 12
        option(value='13') 13
        option(value='14') 14
        option(value='15') 15
        option(value='16') 16
        option(value='17') 17
        option(value='18') 18
        option(value='19') 19
        option(value='20') 20
        option(value='21') 21
        option(value='22') 22
        option(value='23') 23
        option(value='24') 24
        option(value='25') 25
        option(value='26') 26
        option(value='27') 27
        option(value='28') 28
        option(value='29') 29
        option(value='30') 30
        option(value='31') 31
      select(name='startsOnYear')
        option(value="")  - Year - 
        option(value='2016') 2016
        option(value='2017') 2017
        option(value='2018') 2018
    p 
      label Days Long
      br
      input(type="number" name="daysLong")
    p
      label 
        input(type='checkbox' name="repeats")
        | Repeats Yearly?
    p
      label Retreat Web Address
      br
      input(name="url")
    p
      label Suggested Price
      br
      input(name="price")
    p
      label Address
      br
      input(name="address")
    p
      label City & State
      br
      input(name="cityState")
    p
      label Postal Code
      br
      input(name="postalCode")
    p
      label Country
      br
      input(name="country")
    p
      label Registrar's Phone Number
      br
      input(name="phone")
    button Save