.brand {
  padding:10px;
}

.brand a {
  font-size: 2em;
  text-decoration: none;
  color:inherit;
}
legend {
  padding: 0 0 5px 0;
  font-size: 1.3em;
  width: 100%;
  border-bottom: 1px solid #EFEFF0;
  margin-bottom: 1em;
}

tr:hover[onclick] {
  background:#F7F7F7;
  cursor:pointer;
}

.u-text-muted {
  color:grey;
}