.brand {
  padding:10px;
}

.brand a {
  font-size: 2em;
  text-decoration: none;
  color:inherit;
}

.share {
  padding-left:10px;
}

.button-share {
  line-height: inherit;
  height:inherit;
  padding:2px 15px;
  width:54px;
  font-size:19px;
  margin:0 5px 5px 0px;
  border:none;
}

.button-facebook {
  background-color: #3b5998;
  border-color: #2d5073;
  color:white;
}

.button-twitter {
  background-color: #55ACEE;
  border-color: #55ACEE;
  color:white;
}

.button-share:hover {
  color:white;
}
.button-twitter:hover {
  background: #5cb8ff;
}
.button-facebook:hover { 
  background-color: #4567ae;
}

legend {
  padding: 0 0 5px 0;
  font-size: 1.3em;
  width: 100%;
  border-bottom: 1px solid #EFEFF0;
  margin-bottom: 1em;
}

tr:hover[onclick] {
  background:#F7F7F7;
  cursor:pointer;
}

.u-text-muted {
  color:grey;
}

td:last-child, th:last-child {
    padding-right: 1rem;
}

.margin-top {
  margin-top:1rem;
}

td {
  border-right: 1px solid #eee;
}